:root{
    overflow: hidden;
}
#divider{
    margin: 5px;
    border: 1px solid;
    margin-left: 0;
    width: 100vw;
}
body{
    margin: 0;
    background-color:rgb(5	4 22)
}
button{
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Chivo Mono', monospace;
    border: 1px solid;
    border-radius: 6px;
    background-color: rgb(6, 4, 53);
    padding: 5px;
    color: rgb(81, 81, 81);
    font-size: 14px;
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
}
button:hover{
    transform: scale(0.9);
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Chivo Mono', monospace;
    border: 1px solid;
    border-radius: 6px;
    background-color: rgba(8, 6, 65, 0.959);
    padding: 5px;
    color: rgb(71, 71, 71);
    cursor: pointer;
    font-size: 14px;
}
html{
    font-family: 'Chivo Mono', monospace;
}
.item{
    border: 1px solid;
    margin: 10px;
    padding: 5px;
    background-color: rgba(51, 140, 170, 0.213);
    border-radius: 10px;
}
.item h6{
    margin: 0;
}
#item{
    border: none;
    height: 1px;
    color: #000000;
    background-color: #070707; 
}
body h1, h2, h3, h4, h5, h6{
    padding: 5px;
    color: grey;
}
navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#mainItems{
    display: flex;
    flex-direction: column;
}
#progressContainer{
    overflow: scroll;
    height: 80vh;
}
.item h2{
    margin-top: 0;
    margin-bottom: 0;
}
#title {
    position: relative;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
  }
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 1;
    font-size: 50px;
    color: rgb(173, 173, 173)
}
#title{
    width: 100%;
    height: 20vh;
    background-image: url(/space.jpeg);
}
h2{
    color: rgb(142, 142, 142)
}
p{
    color: grey;
}
label{
    margin-left: 10px;
    color: grey;
}
#row1, #row2 {
    height: 90px;
    margin: auto;
    width: 95%;
    margin-top: 5px;
    display: block;
    border-radius: 5px;
}

#Pc {
    position: fixed;
    width: 150px;
    height: 150px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255, 0.258);
    padding-top: 0px;
    overflow: auto;
}

#PcT {
    color: black;
    position: relative;
}

#Ct {
    width: auto;
    height: 150px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.258);
    padding-top: 0px;
    overflow: auto;
    margin-left: 160px;
}
#Ct hr{
    border-color: black;
}
input::placeholder {
    color: #757575; /* Set the desired color for the placeholder text */
  }
  