#divider{
    margin: 5px;
    border: 1px solid;
    margin-left: 0;
    width: 100vw;
}
body{
    margin: 0;
    background-color:rgb(5	4 22)
}
button{
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Chivo Mono', monospace;
    border: 1px solid;
    border-radius: 6px;
    background-color: rgb(6, 4, 53);
    padding: 5px;
    color: rgb(81, 81, 81);
    font-size: 14px;
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
}
button:hover{
    transform: scale(0.9);
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Chivo Mono', monospace;
    border: 1px solid;
    border-radius: 6px;
    background-color: rgba(8, 6, 65, 0.959);
    padding: 5px;
    color: rgb(71, 71, 71);
    cursor: pointer;
    font-size: 14px;
}
html{
    font-family: 'Chivo Mono', monospace;
}
.item{
    border: 1px solid;
    margin: 10px;
    padding: 5px;
    background-color: rgba(51, 140, 170, 0.213);
    border-radius: 10px;
}
.item h6{
    margin: 0;
}
#item{
    border: none;
    height: 1px;
    color: #000000;
    background-color: #070707; 
}
body h1, h2, h3, h4, h5, h6{
    padding: 5px;
    color: grey;
}
navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#mainItems{
    display: flex;
    flex-direction: column;
}
#progressContainer{
    overflow: scroll;
    height: 80vh;
}
.item h2{
    margin-top: 0;
    margin-bottom: 0;
}
#title {
    position: relative;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
  }
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 1;
    font-size: 50px;
    color: rgb(173, 173, 173)
}
#title{
    width: 100%;
    height: 20vh;
    margin-bottom: 0px;
    background-image: url(/space.jpeg);
}
h2{
    color: rgb(142, 142, 142)
}
p{
    color: grey;
}
label{
    margin-left: 10px;
    color: grey;
}
#torch {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    transform-origin: center bottom;
    margin-top: 20px;
    z-index: 9999;
  }
.torch{
    width: 90px;
    height: auto;
    z-index: 9999;
    display: none;
}



.switch {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-right: 10px;
  }

  .switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #314458;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(79, 80, 84);
    transition: .4s;
  }

  input[type="checkbox"]:checked + .slider {
    background-color: #50cdd8;
  }

  input[type="checkbox"]:checked + .slider:before {
    transform: translateX(26px);
    background-color: yellow;
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
.switchLabel{
    position: absolute;
    right: 0;
    margin-right: 75px;
}
::-webkit-input-placeholder { /* For Chrome, Safari, and Opera */
    color: rgba(200, 200, 200, 0.349); /* Change the color to red */
  }